.test > div:first-of-type {
  border: 1px solid rgba(0,0,0,0.1);
}

.test > div:first-of-type:hover {
  border: 1px solid #ff5800;
}

.test > div:first-of-type:focus {
  border: 1px solid  #ffd100;
}
