.judge-container{
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.75);
  position: absolute;
  display: block;
  padding: 32px 64px;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.judge-title{
  color: #1890ff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
