.judge-container{
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 2px 23px -8px rgba(0,0,0,0.75);
  position: absolute;
  display: block;
  padding: 32px 64px;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.judge-title{
  color: #1890ff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.judgeTable input{
  text-align: center;
  min-width: 50px;
}

.judgeTable input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.submit{
  padding:20px;
  text-align: right;
}

.dialog-background{
  position: absolute;
  left:0px;
  top:0px;
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog{
  background: #fff;
  max-width: 400px;
}
.dialog .header{
  padding:10px;
  font-size: 18px;
  text-align: center;
  background: #021225;
  color:#fff;
}
.dialog .body{
  padding: 20px;
}
.dialog .options button{
  margin:10px;

}
.dialog .options .left{
  float: left;
}
.dialog .options .right{
  float: right;
}
.dialog-background.hide{
  display: none;
}