.loginBox{
        box-shadow: 0px 0px 100px #ddd;
        padding : 16px 16px;
        display: block;
        border-radius: 5px;
        max-width: 500px;
}

.loginBoxContainer{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginBox input{
    font-size: 20px;
    width: 100%;
    min-width: 300px;
    padding:20px;
}