@import "./fonts.css";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Avenir LT Std', -apple-system ,BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  font-size: 20px;
  background-color: white;
}

a {
  color: #ff5800;
  text-decoration: none;
  transition: color .25s ease-out;
}
a:hover {
  color: #ffd100;
}

button {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: #ff5800;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, .3);
  font-size: .8em;
  text-align: center;
  justify-content: center;
  transition: .15s ease-out;
}
button:hover {
  background-color: #ffd100;
  color: black;
}
button:disabled{
  background-color: #ffa593;
  color:#fff;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .1);
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, .3);
}
input:hover,
textarea:hover {
  border-color: #ff5800;
}
input:focus,
textarea:focus {
  border-color: #ffd100;
}

input, button, option, textarea {
  font-family: inherit;
}

a, input, button {
  outline: 0;
}
