@import "./fonts.css";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Avenir LT Std', -apple-system ,BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  font-size: 20px;
  background-color: white;
}

a {
  color: #ff5800; /* highlight */
  text-decoration: none;
  transition: color .25s ease-out;
}
a:hover {
  color: #ff5800; /* accent */
}

button {
  display: flex;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: #ff5800;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, .3);
  font-size: .8em;
  text-align: center;
  justify-content: center;
}

input, button, option, textarea {
  font-family: inherit;
}
