@import "./fonts.css";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  background-color: #f5f5f5;
}

a {
  color: #ff5800; /* highlight */
  text-decoration: none;
  transition: color .25s ease-out;
}
a:hover {
  color: #ffd100; /* accent */
}
